<!DOCTYPE html>
<head>
    <title>About Page</title>
     <link rel='stylesheet' href = '/css/style.css'>
</head>
<body>
<div class='main-content'>
    {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
    <img class='potrait' src= '/images/download-1.jpg'>
</div>

    {{>footer}}
</body>
</html>